<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Left Competitive</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/image/icon.png" type="image/gif" sizes="20x20">
</head>
<body>
  <img class="title" src="/image/title.png">
  <img src="/image/logo.png">
  <div class="play">
    <a href="play.html">PLAY...</a>
  </div>
</body>
</html>
