<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Steam Authorization</title>
</head>
<body>
<br/>
<a href="/play.html" style="background-color: brown; padding: 10px; color: white; border-radius: 10px;">Home</a>
<div class="main">
  <span class="h1">Steam Authorization</span>
  <span class="anun">Utilice el botón de abajo para autorizar.</span>
  <a href="/auth/steam"><img src="/image/steam.png" alt=""></a>
</div>
</body>
</html>